{%- assign metafield_namespace = 'easytabs' -%}
{%- assign et_config = shop.metafields[metafield_namespace].settings.value -%}
{%- assign et_tag_ajar = '<' | append: et_config.tag -%}
{%- assign et_tag_open = '<' | append: et_config.tag | append: '>' -%}
{%- assign et_tag_close = '</' | append: et_config.tag | append: '>' -%}
{%- assign et_tag_empty = et_tag_open | append: et_tag_close -%}
{%- if product -%}
  {%- assign et_id = product.id -%}
  {%- assign et_handle = product.handle -%}
  {%- assign et_description = product.description -%}
{%- endif -%}
{%- if product-description-tabs -%}
  {%- assign et_description = product-description-tabs -%}
  {%- if et_description contains 'easytabs-container'
    or et_description contains 'class="description" id="tabs" itemprop="description"'
  -%}
    {{- et_description -}}
    {%- assign et_description = false -%}
  {%- else -%}
    {%- unless et_id -%}
      {%- assign et_id = 'etcustom' -%}
      {%- assign et_handle = 'etcustom' -%}
    {%- endunless -%}
  {%- endif -%}
{%- endif -%}
{%- assign et_static_tabs = '' -%}
{%- assign et_static_content = '' -%}
{%- assign et_review_selectors = '' -%}
{%- if et_config.shared_tabs_parts > 0 -%}
  {%- assign collectionsHandles = product.collections | map: 'handle' -%}
  {%- assign collectionsIds = product.collections | map: 'id' -%}
  {%- assign product_id_str = product.id | append: '' -%}
  {%- for shared_tabs_part in (1..et_config.shared_tabs_parts) -%}
    {%- capture shared_tabs_key -%}
    shared_tabs_{{ shared_tabs_part }}
{%- endcapture -%}
    {%- for shared_tab in shop.metafields[metafield_namespace][shared_tabs_key].value -%}
      {%- assign et_tab_access_denied = false -%}
      {%- if shared_tab.p.size > 0 or shared_tab.c.size > 0 or shared_tab.t.size > 0 -%}
        {%- assign et_tab_access_denied = true -%}
        {%- for p in shared_tab.p -%}
          {%- assign p_str = p | append: '' -%}
          {%- assign p_clean = p_str | remove: 'gid://shopify/Product/' -%}
          {%- assign p_num = p_clean | plus: 0 -%}
          {%- if product.handle == p_str or product_id_str == p_str or product.id == p_num -%}
            {%- assign et_tab_access_denied = false -%}
            {%- break -%}
          {%- endif -%}
        {%- endfor -%}
        {%- if et_tab_access_denied -%}
          {%- for c in shared_tab.c -%}
            {%- assign c_str = c | append: '' -%}
            {%- assign c_clean = c_str | remove: 'gid://shopify/Collection/' -%}
            {%- assign c_num = c_clean | plus: 0 -%}
            {%- if collectionsHandles contains c_str or collectionsIds contains c_num -%}
              {%- assign et_tab_access_denied = false -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
        {%- if et_tab_access_denied -%}
          {%- for t in shared_tab.t -%}
            {%- if product.tags contains t -%}
              {%- assign et_tab_access_denied = false -%}
              {%- break -%}
            {%- endif -%}
          {%- endfor -%}
        {%- endif -%}
      {%- endif -%}
      {%- if et_tab_access_denied -%}{%- continue -%}{%- endif -%}
      {%- assign shared_tab_id = 'tabs-' | append: et_handle | append: '-s' | append: shared_tab.i -%}
      {%- assign shared_tab_header = shared_tab.title -%}
      {%- assign shared_tab_content = shared_tab.content -%}
      {%- assign shared_tab_locale = shared_tab.locales[shop.locale] -%}
      {%- if shared_tab_locale.title != '' and shared_tab_locale.title != null -%}
        {%- assign shared_tab_header = shared_tab_locale.title -%}
      {%- endif -%}
      {%- if shared_tab_locale.content != '' and shared_tab_locale.content != null -%}
        {%- assign shared_tab_content = shared_tab_locale.content -%}
      {%- endif -%}
      {%- case shared_tab.type -%}
        {%- when 'nm_sizechart' -%}
          {%- capture shared_tab_content -%}<div id="sizechart-container"></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '#sizechart-container' -%}
        {%- when 'reviews' -%}
          {%- capture shared_tab_content -%}<div id="shopify-product-reviews" data-id="{{ product.id }}">{{ product.metafields.spr.reviews }}</div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '#shopify-product-reviews' -%}
        {%- when 'yotpo' -%}
          {%- capture shared_tab_content -%}<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ page.url }}" data-description="{{ product.description | escape }}"></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '.yotpo.yotpo-main-widget' -%}
        {%- when 'yotpo_faq' -%}
          {%- capture shared_tab_content -%}<div class="yotpo yotpo-main-widget" data-product-id="{{ product.id }}" data-name="{{ product.title | escape }}" data-url="{{ shop.url }}{{ product.url }}" data-description="{{ product.description | escape }}" data-mode="questions"></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '.yotpo.yotpo-main-widget' -%}
        {%- when 'kudobuzz' -%}
          {%- capture shared_tab_content -%}<div id="kudobuzz_product_reviews_widget" data-id="{{ product.id }}"></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors
            | append: ','
            | append: '#kudobuzz_product_reviews_widget'
          -%}
        {%- when 'judgeme' -%}
          {%- capture shared_tab_content -%}<div id="judgeme_product_reviews" class="jdgm-widget jdgm-review-widget" data-product-title="{{ product.title }}" data-id="{{ product.id }}">{{ product.metafields.judgeme.widget }}</div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '#judgeme_product_reviews' -%}
        {%- when 'recommendify' -%}
          {%- capture shared_tab_content -%}<div id="recommendify-similar-products" shop="{{ shop.domain }}" product="{{ product.id }}"></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors
            | append: ','
            | append: '#recommendify-similar-products'
          -%}
        {%- when 'loox_reviews' -%}
          {%- capture shared_tab_content -%}<div id="looxReviews" data-product-id="{{ product.id }}" class="loox-reviews-default">{{ product.metafields.loox.reviews }}</div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '#looxReviews' -%}
        {%- when 'verified_reviews' -%}
          {%- capture reviewTpl -%}{{ shop.metafields.netreviews.css }}{{ shop.metafields.netreviews.javascript }}{{ product.metafields.netreviews.reviews }}{%- endcapture -%}
          {%- capture strippedReviewTpl -%}{{ reviewTpl | strip_html | strip }}{%- endcapture -%}
          {%- capture shared_tab_content -%}{% if strippedReviewTpl != "" %}{{ reviewTpl }}{% else %}<div class="easytabs-verified-reviews">No reviews yet.</div>{% endif %}{%- endcapture -%}
        {%- when 'ryviu' -%}
          {%- capture shared_tab_content -%}<div class="lt-block-reviews"><ryviu-widget handle="{{ product.handle }}" product_id="{{ product.id }}" title_product="{{ product.title }}" total_meta="{{ product.metafields.ryviu.r_count }}" image_product="{{ product.featured_image.src | image_url: '800x' }}"></ryviu-widget></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '.lt-block-reviews' -%}
        {%- when 'kiwi_sizing' -%}
          {%- capture shared_tab_content -%}<div class="easytabs-kiwi-holder-ns"></div>{%- endcapture -%}
        {%- when 'ultimate_size_chart' -%}
          {%- capture shared_tab_content -%}<div class="sd_getsizechart sd_inline"></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '.sd_getsizechart' -%}
        {%- when 'rivyo_reviews' -%}
          {%- capture shared_tab_content -%}<div id="wc_review_section" class="wc_review_main_content" data-url="{{ shop.url }}" data-handle="{{ product.handle }}" data-limit="0"></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '#wc_review_section' -%}
        {%- when 'lai_aliexpress_reviews' -%}
          {%- capture shared_tab_content -%}<div class="scm-container custom" style="display: none;"><div id="scm-reviews-importer" class="scm-reviews-importer"><iframe id="scm-reviews-importer-iframe" width="100%"></iframe></div></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors | append: ',' | append: '#scm-reviews-importer' -%}
        {%- when 'fera_reviews' -%}
          {%- capture shared_tab_content -%}<div data-fera-container="product_reviews" data-product-id="{{ product.id }}"></div>{%- endcapture -%}
          {%- assign et_review_selectors = et_review_selectors
            | append: ','
            | append: 'div[data-fera-container="product_reviews"]'
          -%}
        {%- when 'page' -%}
          {%- assign st_page_handle = shared_tab.page_handle -%}
          {%- if shared_tab_locale.page_handle != '' and shared_tab_locale.page_handle != null -%}
            {%- assign st_page_handle = shared_tab_locale.page_handle -%}
          {%- endif -%}
          {%- capture shared_tab_content -%}{{ pages[st_page_handle].content }}{%- endcapture -%}
        {%- when 'pdf' -%}
          {%- assign st_pdf_source = shared_tab.pdf_source -%}
          {%- if shared_tab_locale.pdf_source != '' and shared_tab_locale.pdf_source != null -%}
            {%- assign st_pdf_source = shared_tab_locale.pdf_source -%}
          {%- endif -%}
          {%- capture shared_tab_content -%}<div class="easytabs-pdf-link-container"><a href="{{ st_pdf_source }}" class="easytabs-pdf-link" target="_blank"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960" role="none"><path d="M480-336 288-528l51-51 105 105v-342h72v342l105-105 51 51-192 192ZM263.72-192Q234-192 213-213.15T192-264v-72h72v72h432v-72h72v72q0 29.7-21.16 50.85Q725.68-192 695.96-192H263.72Z"></path></svg></a></div><div class="easytabs-pdf-embed-container"><iframe class="easytabs-pdf-embed" src="{{ st_pdf_source }}"></iframe></div>{%- endcapture -%}
        {%- when 'liquid_panel' -%}
          {%- capture shared_tab_content -%}<div class="easytabs-liquid-panel-container" data-es-lpid="{{ shared_tab.liquid_panel_id }}" data-es-ph="{{ et_handle }}"></div>{%- endcapture -%}
        {%- when 'liquid' -%}
          {%- assign stlh = shared_tab.liquid_handle -%}
          {%- capture shared_tab_content -%}{%- if stlh == '1' -%}{% render 'easytabs-liquid-tab-1', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '2' -%}{% render 'easytabs-liquid-tab-2', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '3' -%}{% render 'easytabs-liquid-tab-3', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '4' -%}{% render 'easytabs-liquid-tab-4', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '5' -%}{% render 'easytabs-liquid-tab-5', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '6' -%}{% render 'easytabs-liquid-tab-6', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '7' -%}{% render 'easytabs-liquid-tab-7', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '8' -%}{% render 'easytabs-liquid-tab-8', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '9' -%}{% render 'easytabs-liquid-tab-9', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '10' -%}{% render 'easytabs-liquid-tab-10', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '11' -%}{% render 'easytabs-liquid-tab-11', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '12' -%}{% render 'easytabs-liquid-tab-12', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '13' -%}{% render 'easytabs-liquid-tab-13', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '14' -%}{% render 'easytabs-liquid-tab-14', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '15' -%}{% render 'easytabs-liquid-tab-15', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '16' -%}{% render 'easytabs-liquid-tab-16', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '17' -%}{% render 'easytabs-liquid-tab-17', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '18' -%}{% render 'easytabs-liquid-tab-18', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '19' -%}{% render 'easytabs-liquid-tab-19', liquid_handle: stlh %}{%- endif -%}{%- if stlh == '20' -%}{% render 'easytabs-liquid-tab-20', liquid_handle: stlh %}{%- endif -%}{%- endcapture -%}
          {%- assign shared_tab_content = shared_tab_content | strip -%}
          {%- if shared_tab_content contains 'Liquid error' -%}{%- assign shared_tab_content = '' -%}{%- endif -%}
      {%- endcase -%}
      {%- capture et_static_tabs -%}{{- et_static_tabs -}}<li class='easytabs-tab-item' data-et-marker='{{ shared_tab_id }}' data-et-handle='tabs-{{ shared_tab.title | handleize }}' role='tab'><span class="easytabs-header-text ui-tabs-anchor js-no-transition">{{ shared_tab_header }}</span></li>{%- endcapture -%}
      {%- capture et_static_content -%}{{- et_static_content -}}<div class='easytabs-content-item easytabs-content-item-static' data-et-marker='{{ shared_tab_id }}' data-et-handle='tabs-{{ shared_tab.title | handleize }}'><div class="easytabs-accordion-item" role="button"><span class="easytabs-header-text ui-tabs-anchor js-no-transition">{{ shared_tab_header }}</span>{%- if et_config.show_arrows -%}<span class="easytabs-accordion-glyph"></span>{%- endif -%}</div><div class="easytabs-content-holder" role="tabpanel">{{- shared_tab_content -}}</div></div>{%- endcapture -%}
    {%- endfor -%}
  {%- endfor -%}
{%- endif -%}
{%- if et_description or et_static_tabs -%}
  {%- assign et_description = et_description | replace: '</iframe>', '</iframe>&thinsp;' | replace: et_tag_empty, '' -%}
  {%- assign et_locale = et_config.locales[shop.locale] -%}
  {%- if et_config.default_tab_disabled -%}
    <div class="easytabs-text">{{ et_description | split: et_tag_ajar | first }}</div>
  {%- endif -%}
  <div
    class="easytabs-container easytabs-hidden tab-widget-{{ et_id }}"
    data-et-auto-accordion="{% if et_config.auto_accordion %}1{% else %}0{% endif %}"
    data-et-min-width="{{ et_config.min_width }}"
    data-et-cbw="{{ et_config.content_border_width }}"
    data-et-cbr="{{ et_config.content_border_radius }}"
    data-et-sta="{% if et_config.scroll_to_accordion %}1{% else %}0{% endif %}"
    data-et-amp="{% if et_config.acc_multi_panels %}1{% else %}0{% endif %}"
    data-et-adv="{% if et_config.acc_default_view != nil %}{{ et_config.acc_default_view }}{% else %}0{% endif %}"
    data-et-flx="{% if et_config.is_flexible %}1{% else %}0{% endif %}"
    data-et-wt="{% if et_config.is_wide_tabs %}1{% else %}0{% endif %}"
    data-et-ao="{% if et_config.accordion_only %}1{% else %}0{% endif %}"
    data-et-rs="{{ et_review_selectors | remove_first: "," }}"
  >
    <div class="easytabs-holder">
      {%- unless et_config.default_tab_disabled -%}
        {%- assign et_default_tab_title = et_config.default_tab_title -%}
        {%- if et_locale.default_tab_title != '' and et_locale.default_tab_title != null -%}
          {%- assign et_default_tab_title = et_locale.default_tab_title -%}
        {%- endif -%}
        {%- capture et_description -%}{{ et_tag_open }}{{ et_default_tab_title }}{{ et_tag_close }}{{ et_description }}{%- endcapture -%}
      {%- endunless -%}
      {%- assign et_tabs = '' -%}
      {%- assign et_content = '' -%}
      {%- assign et_description_parts = et_description | split: et_tag_ajar -%}
      {%- for part in et_description_parts -%}
        {%- if part contains et_tag_close -%}
          {%- assign et_remove = part | split: '>' | first | append: '>' -%}
          {%- assign et_tab_header = part | split: et_tag_close | first | strip_html | replace: et_remove, '' -%}
          {%- assign et_tab_content = part | append: ' ' | split: et_tag_close | last -%}
          {%- assign et_tab_content_short = et_tab_content
            | strip_html
            | replace: '&nbsp;', ''
            | replace: ' ', ''
            | strip_newlines
          -%}
          {%- capture et_tab_id -%}tabs-{{ et_handle }}-{{ forloop.index }}{%- endcapture -%}
          {%- if et_tab_content_short != ''
            or et_tab_content contains '<img '
            or et_tab_content contains '<video '
            or et_tab_content contains '<iframe '
          -%}
            {%- capture et_tabs -%}{{- et_tabs -}}<li class="easytabs-tab-item" data-et-marker="{{ et_tab_id }}" data-et-handle="tabs-{{ et_tab_header | handleize }}" role="tab"><span class="easytabs-header-text ui-tabs-anchor js-no-transition">{{ et_tab_header }}</span></li>{%- endcapture -%}
            {%- capture et_content -%}{{- et_content -}}<div class="easytabs-content-item" data-et-marker="{{ et_tab_id }}" data-et-handle="tabs-{{ et_tab_header | handleize }}"><div class="easytabs-accordion-item{% unless et_config.default_tab_disabled %}{% if forloop.index0 == 1 %} easytabs-default-accordion-item{% endif %}{% endunless %}" role="button"><span class="easytabs-header-text ui-tabs-anchor js-no-transition">{{ et_tab_header }}</span>{%- if et_config.show_arrows -%}<span class="easytabs-accordion-glyph"></span>{%- endif -%}</div><div class="easytabs-content-holder" role="tabpanel">{%- if et_config.convert_div_to_span -%}{{ et_tab_content | replace: "<div", "<span" | replace: "</div", "</span" }}{%- else -%}{{ et_tab_content }}{%- endif -%}</div></div>{%- endcapture -%}
          {%- endif -%}
        {%- endif -%}
      {%- endfor -%}
      <ul class="easytabs-tabs" role="tablist">
        {{- et_tabs -}}
        {{- et_static_tabs -}}
      </ul>
      <div class="easytabs-contents">
        {{- et_content -}}
        {{- et_static_content -}}
      </div>
      {%- assign et_text_under_tabs = et_config.text_under -%}
      {%- if et_locale.text_under != '' and et_locale.text_under != null -%}
        {%- assign et_text_under_tabs = et_locale.text_under -%}
      {%- endif -%}
      <div class="easytabs-undertabs-holder">
        <div class="easytabs-under-tabs">{{ et_text_under_tabs }}</div>
      </div>
      {{- et_config.styles -}}
    </div>
    <script type="text/javascript" class="easytabs-safety-catch">
      if (
        (window.easytabsOnError ||
          (window.easytabsOnError = function () {
            let e = document.querySelectorAll('.easytabs-hidden');
            for (let t = e.length - 1; t >= 0; t--) e[t] && e[t].classList.remove('easytabs-hidden');
            let t = document.querySelectorAll(
              '.easytabs-tabs, .easytabs-content-item-static, .easytabs-undertabs-holder, .easytabs-styles, .easytabs-default-accordion-item'
            );
            for (let e = t.length - 1; e >= 0; e--) t[e] && t[e].remove();
            let a = document.querySelectorAll('.easytabs-container');
            for (let e = a.length - 1; e >= 0; e--) {
              if (!a[e]) continue;
              let t = a[e].querySelectorAll('div.easytabs-content-item'),
                n = '';
              for (let e = t.length - 1; e >= 0; e--) {
                if (!t[e]) continue;
                let a = t[e].querySelector('div.easytabs-accordion-item');
                if (a) {
                  let e = a.querySelector('.easytabs-header-text');
                  e && (n += '<h2>' + e.innerHTML + '</h2>');
                }
                var s = t[e].querySelector('div.easytabs-content-holder');
                s && (n += s.innerHTML);
              }
              a[e].insertAdjacentHTML('afterend', n), a[e].remove();
            }
          }),
        'error' === window.easytabsScriptStatus)
      )
        window.easytabsOnError();
      else if (!document.querySelector('head #easytabs-head-script')) {
        let e = document.createElement('script');
        (e.id = 'easytabs-head-script'),
          (e.async = !0),
          e.setAttribute('data-no-instant', ''),
          (e.src =
            '{% unless request.design_mode or canonical_url contains "shopifypreview.com" %}//{{ shop.domain }}{% endunless %}/apps/tabs/easytabs-1.4.5.min.js?' +
            new Date().getHours() +
            new Date().getMinutes()),
          (e.onload = function () {
            'object' == typeof easytabs
              ? ((window.easytabsScriptStatus = 'loaded'),
                easytabs.initWidgets(document.querySelectorAll('.easytabs-hidden')),
                easytabs.initPage())
              : ((window.easytabsScriptStatus = 'error'), window.easytabsOnError());
          }),
          (e.onerror = function () {
            (window.easytabsScriptStatus = 'error'), window.easytabsOnError();
          }),
          document.getElementsByTagName('head')[0].appendChild(e);
      }
    </script>
    <script type="text/javascript">
      if (typeof easytabs == 'object') {
        easytabs.initWidgets(document.querySelectorAll('.tab-widget-{{ easytabs_id }}'));
      }
    </script>
  </div>
{%- endif -%}
